@media (max-width: 1171px)
{
	.section-icons-block > div > a img {
	    margin-top: 18px;
	}
}
.section-icons-block
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 19px 0 1px;
}
.section-icons-block > div
{
	width: 153px;
	text-align: center;
	padding: 0 12px;
}
.section-icons-block > div > a img
{
	width: 36%;
}

.section-icons-block > div > a > div
{
	display: flex;
	align-items: center;
	height: 59px;
	justify-content: center;
}
@media (max-width: 1436px)
{
	.section-icons-block {

    justify-content: center;
	}

	    
	.section-icons-block > div {
	    width: 139px;
	    text-align: center;
	    padding: 0px 5px;
	}
}

.button-show, .button-hide
{
	display: none;
}
@media (max-width: 446px)
{
	.button-show
	{
		display: block;
	}
	.section-icons-block > div
	{
		display: none;
	}
	.section-icons-block > div:nth-child(1),.section-icons-block > div:nth-child(2)
	{
		display: block;
	}
}